.InfectionTable table {
  border-collapse: collapse;
}

.InfectionTable thead,
.InfectionTable tbody {
    margin: 0;
    padding: 0;
}

.InfectionTable td,
.InfectionTable th {
  border: 1px solid #000000;
  padding: 1em;
  margin: 0;
}
